body,
.section-one,
.second,
.third,
.img-subtext,
.cta-textbox{
    display: flex;
    flex-direction: column;
    }

.header,
.first,
.second-images,
.fourth,
.links{
    display: flex;
}

.second-header{
    text-align: center;
}

.img-subtext p{
    width: 200px;
    text-align: center;
}

.img-subtext img{
    height: 200px;
    border-radius: 10px;
    border: solid blue 2px;
    width: 200px;
    
    
}