body,
.section-one,
.second,
.third,
.img-subtext,
.cta-textbox{
    display: flex;
    flex-direction: column;
   
}

.header,
.first,
.second-images,
.fourth,
.links{
    display: flex;
}

.second-header{
    text-align: center;
}

.img-subtext p{
    width:180px;
    text-align: center;
}

.second-images {
    margin-left: auto;
    margin-right: auto;
    gap:20px;
}

.img-subtext img{
    height:200px
    border- radius 10px;
    border: solid blue 2px;
    width:200px;
}

.links {
    gap: 15px;
    margin-top: 20px;
}

body {
    margin: 0px;
}

.top,
.footer{
    background-color: #1F2937;
}

.placeholder {
    text-align: center;
    color: #F9FAF8;
    width: 500px;
    height: 200px;
    background-color: grey;
}

.placeholder p{
    margin: 90x 0 0 0;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.first-container{
    padding-bottom: 100px;
    width: 470px;
}

.header{
    gap: 450px;
}

.first{
    gap:100px;
    align-items: center;
}

.top {
    align-items: center;
}

.first-header{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8
}

.first-header-subtext{
    font-size: 18px;
    color: #E5E7EB;
}



