@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
}



header {
    background-color: #1f2937;
    padding: 16px 120px;
}



#logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a:link {
    font-size: 18px;
    color:#e5e7eb;
    text-decoration: none;
    
}

a:visited {
    color:#e5e7eb
}



.welcome {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .right {
    flex-shrink: 0;
    width: 50%;
}

.hero {
    color:#f9faf8
    font-weight: bold;
    font-size: 48px;
}









